@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import "tailwindcss";

@theme{
  --font-pixel: "Press Start 2P", cursive;
  --font-retro: "VT323", monospace;
  --color-backgrounddark: #202124;
  --color-foregrounddark: #ACACAC;
  --color-foregroundlight: #535353;
  --color-backgroundlight: #FFFFFF;
  --color-itemslight: #DADADA;
  --color-itemsdark: #454545;
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
.pixel-art{
  image-rendering: pixelated;
}

body {
  background-color: var(--color-backgroundlight);
  color: var(--color-foregroundlight);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark body {
  background-color: var(--color-backgrounddark);
  color: var(--color-foregrounddark);
}